body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('Background2.png');
    background-size:cover;
    font-family: 'Roboto Condensed', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.control-label, h2, h4, footer, dt{ /*makes all the text the same color as the light blue in background*/
    color:#A0C3E9;
}
dd{
    color:white; /*makes text visible on dark background*/
}
.navbar{
    background-color:lightgray;
    margin-bottom:20px;
}
.navbar-brand{
    color:#00244C;
    font-weight:500;
    font-style:italic;
    font-size:xx-large;
}
#navvy{
    color:#00244C;
}

.jumbotron {
    background-image: url('Jumbo_Back.jpg');
    background-size:cover;
    margin-top: 10px;
    color:floralwhite;
}
#content{
    background-color:gray;
    color:white;
}