@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Time Lord Goes Rouge</h1>
        <p class="lead">A Time Lord, commonly known as the Doctor, has stolen a Tardis.</p>
        <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>


<div class="row" id="content">
    <div class="col-md-4">
        <h2>Fashion Review</h2>
        <p>
            The best place to find out about new robes, staffs, and headresses.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Technology Review</h2>
        <p>Find information about the lastest technologies you could ever need.</p>
        <p><a class="btn btn-default" href="/Reviews/Index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Universe Watch</h2>
        <p>Keep an eye on the goings-on of other races with the lastest news.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>